@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;1,400&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 400;
    color: #181835;
}

/* heading and logo*/
 
h1, h2 {
    font-family: Ubuntu, sans-serif;
    letter-spacing: 4px;
    color: aqua;
}

#logo-bg {
    background-image: url('../images/bg-image.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
}

#logo {
    margin: 50px 0 0 30px;
    font-size: 280%;   
}

#motto {
    font-family: Source Sans Pro, sans-serif;
    font-style: italic;
    font-weight: 300;
    margin: 100px 0 0 30px;
}

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu a:hover {
    border-bottom: 1px solid  blue;
}

.active {
    border-bottom: white;
}

#menu a {
    text-decoration: none;
    color: blue;
}