@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;1,400&family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: x-large;
  color: #26083f;
}

/* heading and logo*/

h1,
h2 {
  font-family: Ubuntu, sans-serif;
  letter-spacing: 4px;
}

h1 {
  color: white;
}

h2 {
  color: rgb(25, 4, 80);
}

.logo-bg {
  background-image: url('../images/bg-image.jpg');
  background-color: #2e4608;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.logo {
  margin: 50px 0 0 30px;
  font-size: 300%;
}

/*  motto is places under the logo in the header */
.motto {
  color: whitesmoke;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  font-weight: 300;
  margin: 100px 0 30px 30px;
}

/* navigation bar links*/

/* The code from outer source - https://www.w3schools.com/ with my changes added */

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 1;
}

.flex-container div {
  flex-direction: row;
  margin: 10px;
  padding: 1%;
  font-size: 100%;
  flex: 1 1 auto;
}

/* The end of the code from outer source  */

.menu {
  font-family: Ubuntu, sans-serif;
  font-size: 100%;
  letter-spacing: 4px;
  height: auto;
}

.menu,
.logo {
  line-height: 90px;
}

.menu div {
  text-decoration: none;
  margin-left: 8%;
}

.menu a:hover {
  border-bottom: 1px solid rgb(24, 24, 58);
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

.menu a {
  text-decoration: none;
  color: inherit;
}

/*  The code from outer source https://www.w3schools.com/ - with my adjustments*/

.flex-container-text {
  display: flex;
  flex-direction: row;
  font-size: x-large;
  text-align: center;
  justify-content: space-around;
}

.flex-item-left {
  padding: 10px;
  margin: 2%;
  flex: 40%;
}

.flex-item-right {
  padding: 10px;
  margin: 2%;
  flex: 40%;
}

/* The end of the code from outer source  */

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/* section Albums of paintings */

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.album {
  flex-basis: 32%;
  padding: 20px;
  margin-top: 0;
  flex-wrap: wrap;
}

.clear {
  clear: both;
}

.album a {
  text-align: center;
}

.album p {
  font-size: medium;
}


.album a:hover {
  color: #4548e0;
  text-decoration: none;
}

img {
  width: 100%;
}

hr {
  border-style: inset;
  border-width: 1px;
}

/* Media queries */

/* For large screen sizes from 1400px to 1081px */

@media screen and (max-width: 1400px) {
  .menu {
    font-size: 100%;
    letter-spacing: 3px;
    height: auto;
  }

  .menu div {
    margin-left: 5%;
  }
}

/* For medium screen size from 1080px to 500 px */

@media screen and (max-width: 1080px) {

  body {
    font-size: large;
  }

  .menu {
    font-size: 80%;
    letter-spacing: 2px;
    height: auto;
  }

  .menu,
  .logo {
    line-height: 60px;
  }

  .menu div {
    margin-left: 3%;
  }

  img {
    width: 80%;
  }
}

/* Responsive layout - makes a one column-layout instead of two-column layout at screen size 800px and less*/
/* The code from outer source https://www.w3schools.com/ - with my adjustments*/

@media (max-width: 800px) {
  .flex-container-text {
    flex-direction: column;
    font-size: inherit;
  }

  .menu div {
    margin-left: 3%;
  }
}

/* The end of the code from outer source */

/*   For mobile phone screen size from 500px and less */

@media only screen and (max-width: 500px) {

  .flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .flex-container div {

    margin-left: 10px;
    padding: 0;
    font-size: 100%;
  }

  .flex-container-text {
    font-size: inherit;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 100%;
  }

  .logo {
    margin: 30px 0 0 20px;
    font-size: 200%;
  }

  .menu div {
    margin-left: 2%;
    line-height: 5px;
    letter-spacing: 0;
  }

  form input {
    padding: 10px 40px 10px 0;
  }
}

/* Responsive video - the code from outer source:  https://youtu.be/9YffrCViTVk */

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* The end of the code from outer source  */

/* The code with some changes was taken from outer source - https://www.freecodecamp.org/news/css-flexbox-and-grid-tutorial/ */
.form {
  border: 1px solid #438f56;
  border-radius: 10px;
  background-color: rgb(213, 240, 191);
  width: 60%;
  margin: auto;
  padding: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

form input {
  padding: 10px 10px 10px 0;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  padding-left: 6px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.button {
  border-radius: 6px;
  padding: 12px 20px;
  background: #064e1c;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

/* The end of the code from outer source */

textarea {
  max-width: 95%;
}

/* footer*/

.contacts {
  height: 140px;
  padding: 10px;
  margin: 10px;
  background-color: #093f02;
  color: whitesmoke;

}

.text-center a:hover {
  color: #4548e0;
  text-decoration: none;
}

footer a {
  color: whitesmoke;
}